.stay-focuse{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
span{
    color: aqua;
}
.stay{
    font-size: 50px; 
    border-left: 3px solid brown;
}
.pra{
    text-align: justify;
    padding-right: 20%;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
    margin-bottom: 5%;
}
.link-button{
    text-decoration: none;
    padding: 12px;
   background-color: rgb(214, 21, 7);
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.my-mission{
    color: rgb(15, 6, 51);
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}
#color{
    color: rgb(240, 120, 7);
}
#mission{
   border-radius: 25px;
    width: 30%;
    height: 420px;
    padding-left: 10px;
    margin-left: 10%;
    background-color: rgb(157, 177, 207);
}
#vision{
    border-radius: 25px;
    width: 30%;
    height: 420px;
    padding-left: 1%;
    margin-left: 2%;
    background-color: rgb(233, 171, 219)
}
#goals{
    border-radius: 25px;
    width: 30%;
    height: 420px;
    padding-left: 10px;
    margin-left: 2%;
    margin-right: 10%;
    background-color: rgb(131, 216, 176)
}
.mission-vision-goal{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
   
}
.style{
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    padding-left: 5%;
}
.style-pra{
    padding-left: 5%;
}
#border{
    border-left: none;
    margin-left: 15%;
}
.developer{
   margin-top: 8%; 
   background-image: url(shapes/shape-1.png);
   background-position: left;
   background-repeat: no-repeat;
   background-size: 200px;
}
.para{
    margin-left: 15%;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}
#link{
    margin-left: 15%;
    padding: 2%;
}
.projects{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
#head{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}
#size{
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
    margin-right: 10%;
    margin-bottom: 5%;
}

