.stay-focuse{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
span{
    color: aqua;
}
.stay{
    font-size: 50px; 
    border-left: 3px solid brown;
}
.pra{
    text-align: justify;
    padding-right: 20%;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
    margin-bottom: 5%;
}
.link-button{
    text-decoration: none;
    padding: 12px;
   background-color: rgb(214, 21, 7);
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.my-mission{
    color: rgb(15, 6, 51);
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}
.color{
    color: rgb(240, 120, 7);
}
#mission{
   border-radius: 25px;
    width: 30%;
    height: 420px;
    padding-left: 10px;
    margin-left: 10%;
    background-color: rgb(157, 177, 207);
}
#vision{
    border-radius: 25px;
    width: 30%;
    height: 420px;
    padding-left: 1%;
    margin-left: 2%;
    background-color: rgb(233, 171, 219)
}
#goals{
    border-radius: 25px;
    width: 30%;
    height: 420px;
    padding-left: 10px;
    margin-left: 2%;
    margin-right: 10%;
    background-color: rgb(131, 216, 176)
}
.mission-vision-goal{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
   
}
.style{
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    padding-left: 5%;
}
.style-pra{
    padding-left: 5%;
}
#border{
    border-left: none;
    margin-left: 15%;
}
.developer{
   margin-top: 8%; 
   background-image: url(shapes/shape-1.png);
   background-position: left;
   background-repeat: no-repeat;
   background-size: 200px;
}
.para{
    margin-left: 15%;
    margin-bottom: 5%;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}
#link{
    margin-left: 15%;
    padding: 2%;
}
.projects{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
#head{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}
#size{
    font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
    margin-right: 10%;
    margin-bottom: 5%;
}
.paragraph{
    font-size: 25px;
    text-align: justify;
    color: rgb(248, 235, 235);
    width: 35%;
    margin-left: 36%;
    background-color: rgb(223, 13, 153);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 20px 20px 60px rgb(228, 32, 114);
    border: 6px dotted rgb(35, 38, 207);
}
#head-1{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    font-weight: 700;
    font-weight: bolder;
}
#head-2{
    font-size: 40px;
    margin-left: 20%;
    color: rgb(50, 88, 12);
}
.edit{
    margin-left: 10%;
    font-size: 22px;
    color: rgb(207, 226, 31);
    background-color: rgb(151, 10, 10);
  border: 6px dashed whitesmoke; 
    box-shadow: 20px 20px 60px rgb(129, 21, 30);  
}
#head-3{
    font-size: 40px;
    margin-left: 60%;
    color: rgb(35, 177, 187);
}
.edited{
    margin-left: 10%;
    font-size: 22px;
    margin-left: 50%;
    color: rgb(12, 14, 0);
    background-color: rgb(7, 53, 80);
  border: 6px dashed whitesmoke; 
    box-shadow: 20px 20px 60px rgb(46, 36, 100);  
}
footer{
    text-align: center;
    color: rgb(241, 224, 224);
    background-color: rgb(8, 4, 20);
    padding: 10px;
    margin-top: 10%;
}
#last-1{
    color: rgb(187, 30, 30);
    
}
#last-2{  
    font-family: 'Waterfall', cursive;
}
#last-3{
    color: rgb(238, 230, 216);
}